<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">

  <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56">
      <mat-nav-list>
        <mat-list-item>
          <mat-icon svgIcon="fas:home"></mat-icon>
          <a mat-list-item routerLink="">HOME</a>
        </mat-list-item>
        <mat-list-item>
          <mat-icon svgIcon="storage"></mat-icon>
          <a mat-list-item routerLink="odata-source">ODATA DATASOURCE</a>
        </mat-list-item>

        <mat-list-item>
          <mat-icon svgIcon="feather:credit-card"></mat-icon>
          <a mat-list-item routerLink="select-filter">MAT-SELECT</a>
        </mat-list-item>

      </mat-nav-list>
    </mat-sidenav>


    <mat-sidenav-content>
      <mat-toolbar color="primary" class="example-toolbar mat-elevation-z2">
        <button mat-icon-button (click)="snav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <h1 class="example-app-name">PQS MAT EXTAS SAMPLES</h1>
        <span class="flex-1"></span>
        <button *ngIf="!(isDarkTheme$  | async)" mat-icon-button aria-label="Enable dark theme"
          (click)="toggleScheme()">
          <mat-icon svgIcon="feather:moon"></mat-icon>
        </button>
        <button *ngIf="isDarkTheme$  | async" mat-icon-button aria-label="Enable ligth theme" (click)="toggleScheme()">
          <mat-icon svgIcon="feather:sun"></mat-icon>
        </button>
      </mat-toolbar>
      <!-- *ngIf="true" hack is required here for router-outlet to work correctly.
                   Otherwise, layout changes won't be registered and the view won't be updated! -->
      <router-outlet *ngIf="true"></router-outlet>

    </mat-sidenav-content>
  </mat-sidenav-container>
</div>